@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Nunito', sans-serif;
}

.hero-btn{
  background-color: #fff;
  border: 1px solid darkblue;
  color: darkblue;
  
}
.hero-btn:hover{
  background-color: darkblue;
  border: 1px solid #fff;
  color: #fff;
  transition: all ease-in-out 1s;
}
.first,.second{
  background-color: darkblue;
}
.third{
  background-color: #b5dd60
}
hr{
  width: 40px;
  padding: 10px;
}
.about{
  color: #36444c
}

.btn{
  border-color: darkblue;
    color: #fff;
    background-color: darkblue;
}
.her{
  background-color: darkblue;
}
.become{
  background-color: darkblue;
}
.sec-btn{
  border-color: darkblue;
  color: #fff;
  background-color: darkblue;
}
.third-btn{
  border-color: darkblue;
  color: #fff;
  background-color: darkblue;
}
.sec-btn:hover{
    color: darkblue;
    background-color: #fff;
    border: 1px solid darkblue;
  }
.third-btn:hover{
  color: darkblue;
  background-color: #fff;
  border: 1px solid darkblue;
  }
  .btn:hover{
    color: darkblue;
    background-color: #fff;
    border: 1px solid darkblue;
}
.btm{
  border-color: #fff;
  color: darkblue;
  background-color: #fff
}
.btm:hover{
  border: 1px solid #fff;
  background-color: darkblue;
  color: #fff;
}
footer{
  border-top: 1px solid gray;
}
nav li:hover{
  border-top: 3px solid darkblue;
  transition: all ease-in-out 0.3s;
}
header hr{
  width: 100%;
  padding: 0;
  background-color: gray;
}
header>div{
  margin-bottom: 10px;
}
.cap{
  color: #36444c;
}
@media screen and (max-width:768px){
  nav li:hover{
    border-top: 0px solid darkblue;
  }
  footer ul{
    word-wrap: break-word;
  }
 #root{
   overflow-x: hidden;
 }
  
}
/* .hero-section{
  overflow-x: hidden;
} */
.hero-section{
  background-color: darkblue;
}
