@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Nunito', sans-serif;
}

.hero-btn{
  background-color: #fdb818;
  border: 1px solid #fdb818;
}
.hero-btn:hover{
  background-color: #fff;
  border-radius: 1px solid #fdb818;
  color: #fdb818;
  transition: all ease-in-out 1s;
}
.first{
  background-color: #fc6020;
}
.second{
  background-color: #56c5e9;
}
.third{
  background-color: #b5dd60
}
hr{
  width: 40px;
  padding: 10px;
}
.about{
  color: #36444c
}

.btn{
  border-color: #fc6020;
    color: #fc6020;
    background-color: transparent;
}
.sec-btn{
  border-color: #b5dd60;
    color: #b5dd60;
    background-color: transparent;
}
.third-btn{
  border-color: #56c5e9;
    color: #56c5e9;
    background-color: transparent;
}
.sec-btn:hover{
    color: #fff;
    background-color: #b5dd60;
  }
.third-btn:hover{
    color: #fff;
    background-color: #56c5e9;
  }
  .btn:hover{
  background-color: #fc6020;
  color: #fff;
}
.btm{
  border-color: #fc6020;
  color: #fff;
  background-color: #fc6020
}
.btm:hover{
  border: 1px solid #fc6020;
  background-color: #fff;
  color: #fc6020;
}
footer{
  border-top: 1px solid gray;
}
nav li:hover{
  border-top: 3px solid #56c5e9;
  transition: all ease-in-out 0.3s;
}
header hr{
  width: 100%;
  padding: 0;
  background-color: gray;
}
header>div{
  margin-bottom: 10px;
}
.cap{
  color: #36444c;
}
@media screen and (max-width:768px){
  nav li:hover{
    border-top: 0px solid #56c5e9;
  }
  footer ul{
    word-wrap: break-word;
  }
 #root{
   overflow-x: hidden;
 }
  
}
/* .hero-section{
  overflow-x: hidden;
} */
